@tailwind base;
@tailwind components;
@tailwind utilities;

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
body {
  font-size: 16px;
}
input,
select {
  font-size: 100%;
}
textarea,
input {
  font: inherit;
}
button,
select,
textarea,
input {
  font-size: max(16px, 1em);
}

@font-face {
  font-family: 'FuturaHeavy';
  src: local('FuturaHeavy'), url(/fonts/Futura-Heavy.ttf) format('truetype');
}

@font-face {
  font-family: 'FuturaMedium';
  src: local('FuturaMedium'), url(/fonts/Futura-medium.ttf) format('truetype');
}

.workout-image {
  position: absolute !important;
}
